/* YOUR STYLES HERE */
body {
    font-family: Arial, Helvetica, sans-serif;
}

.home-background{
    background-color: #3A3B3C;
}
#menu{
    padding: 5px 10px;
    display: flex;
    align-items: center;
}

.menu-item{
    font-size: 14px;
    color: #FFFFFF;
    margin: 8px 10px;
    text-decoration: none;
}

.menu-item:hover{
    text-decoration: underline;
}

#profile-pic{
    height: 32px;
    width: 32px;
    border-radius: 16px;
}

#profile-pic:hover {
    box-shadow: 0px 0px 5px #c2c2c2;
}

#store-link{
    margin-right: auto;
}

#search{
    margin-top: 120px;
    text-align: center
}

#main-logo{
    width: 272px;
}

#search-bar{
    height: 34px;
    font-size: 17px;
    border-radius: 17px;

    border: 1px solid #c2c2c2;
    width: 90%;
    max-width: 500px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;

}

#search-bar:hover,
#search-bar:focus{
    box-shadow: 0px 0px 5px #c2c2c2;
}

#search-buttons{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-button{
    margin: 8px;
    padding: 8px 15px;
    cursor: pointer;

    background-color: f8f9fa;
    border: 1px solid 4b4b4b;
    border-radius: 4px;
    font-size: 14px;
}

.search-button:hover{
    box-shadow: 0px 0px 5px #c2c2c2;
}

.profile-title{
    text-align: center;
    font-family: 'Star Jedi', arial;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    color: #FFE81F
}
.star-wars-background {
    background-color: #000;
  }

.return{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#return-button:hover{
    box-shadow: 0px 0px 10px #f9d71c;
}
#return-button{
    margin: 8px;
    padding: 8px 15px;
    cursor: pointer;

    background-color: #ffffba;
    border: 1px solid 4b4b4b;
    border-radius: 4px;
    font-size: 14px;
}

.star-wars-char{
    display: flex;
    justify-content: space-between;
}

#luke-skywalker{
    width: 300px;
    height: 450px;
}

#princess-leia{
    width: 300px;
    height: 450px;
}

#han-solo{
    width:300px;
    height: 450px;
}

.paragraph-font{
    font-family: 'Star Jedi', arial;
    font-size: 22px;
    text-shadow: 4px 4px 4px #aaa;
    color: #FFE81F
}

.img__wrap {
    position: relative;
    height: 200px;
    width: 300px;
  }
  
  .img__description1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #808080;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  
  .img__description2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #808080;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }

  .img__description3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #808080;
    color: #fff;
    visibility: hidden;
    opacity: 0;
  }
  .img__wrap:hover .img__description1 {
    visibility: visible;
    opacity: .9;
  }

  .img__wrap:hover .img__description2 {
    visibility: visible;
    opacity: .9;
  }

  .img__wrap:hover .img__description3 {
    visibility: visible;
    opacity: .9;
  }

